<!DOCTYPE html>
<html>
<head>
  <title>Ishmenu</title>
  <%= stylesheet_link_tag    "ishmenu/application", media: "all" %>
  <%= javascript_include_tag "ishmenu/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
