<% if @menu_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

    <ul>
    <% @menu_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field form-group">
  <%= f.label :menu %>
  <%= f.collection_select :menu_id, Ishmenu::Menu.all, :id, :name, { :required => true, :include_blank => false }, { :class => 'form-control' } %>
</div>

<div class="field form-group">
  <%= f.label :title %>
  <%= f.text_field :title, { :required => true, :id => 'title', :class => 'form-control' } %>
</div>
<div class="field form-group">
  <%= f.label :slug %>
  <%= f.text_field :slug, { :required => true, :id => 'slug', :class => 'form-control' } %>
</div>
<div class="field form-group">
  <%= f.label :target %>
  <%= f.select :target, options_for_select([['Same Window', true], ['New Window', false]], @menu_item.target) %>
</div>
<div class="field form-group">
  <%= f.label 'Item Id' %>
  <%= f.text_field :item_id, { :id => 'id', :class => 'form-control' } %>
</div>
<div class="field form-group">
  <%= f.label :item_class %>
  <%= f.text_field :item_class, { :id => 'class', :class => 'form-control' } %>
</div>
<div class="field form-group">
  <%= f.label :priority %>
  <%= f.number_field :priority, { :id => 'priority', :class => 'form-control' } %>
</div>
<div class="actions form-group">
  <%= f.submit :class => 'btn btn-primary' %>
</div>
