<h1>Editing Menu Item</h1>

<%= form_for(:menu_item, :url => menu_item_path(@menu, @menu_item), :html => { :role => 'form', :method => :patch}) do |f| %>

	<%= render :partial => 'form', :locals => { :f => f } %>

<% end %>

<%= link_to 'Back', menu_items_path %>
