<p id="notice"><%= notice %></p>

<h1>Listing Menu Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Target</th>
      <th>Id</th>
      <th>Class</th>
      <th>Priority</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.title %></td>
        <td><%= menu_item.slug %></td>
        <td><%= menu_item.target %></td>
        <td><%= menu_item.id %></td>
        <td><%= menu_item.class %></td>
        <td><%= menu_item.priority %></td>
        <% if can? :update, menu_item %>
          <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
        <% end %>
        <% if can? :destroy, menu_item %>
          <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Ishmenu::MenuItem %>
  
<% end %>
<%= link_to 'New Menu item', new_menu_item_path %>
