<h1>New Menu Item</h1>

<%= form_for(:menu_item, :url => { :action => 'create' }, :html => { :role => 'form'}) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
<%= link_to 'Back', menu_items_path %>
