<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @menu_item.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @menu_item.slug %>
</p>

<p>
  <strong>Target:</strong>
  <%= @menu_item.target %>
</p>

<p>
  <strong>Id:</strong>
  <%= @menu_item.id %>
</p>

<p>
  <strong>Class:</strong>
  <%= @menu_item.class %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @menu_item.priority %>
</p>

<% if can? :update, @menu_item %>
  
<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<% end %>
<%= link_to 'Back', menu_items_path %>
