<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, { :required => true, :id => 'title', :class => 'form-control' } %>
  </div>
  <div class="field form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, { :required => true, :id => 'slug', :class => 'form-control' } %>
  </div>
  <div class="actions form-group">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
