<p id="notice"><%= notice %></p>

<h1>Listing Menus</h1>

<% if can? :create, Ishmenu::Menu %>
  <div class="clearfix">
    <p class="pull-right">
      <%= link_to 'New Menu', new_menu_path, :class => 'btn btn-primary' %>
    </p>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.slug %></td>
        <td><%= link_to 'Show', menu %></td>
        <% if can? :update, menu %>
          <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <% end %>
        <% if can? :destroy, menu %>
          <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>