<p id="notice"><%= notice %></p>

<div class="well clearfix">
  <p>
    <strong>Name:</strong> <%= @menu.name %> <strong>Slug:</strong> <%= @menu.name %>
  
    <span class="pull-right">
      <% if can? :update, @menu %>
        <%= link_to 'Edit', edit_menu_path(@menu), :class => 'btn btn-xs btn-warning' %>
      <% end %>
      <% if can? :destroy, @menu %>
        <%= link_to 'Destroy', @menu, :class => 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </span>
  </p>
</div>

<% if can? :create, Ishmenu::MenuItem %>
  <div class="clearfix">
    <p class="pull-right">
      <%= link_to 'Add menu item', new_menu_item_path(@menu), :class => 'btn btn-primary' %>
    </p> 
  </div>
<% end %>

<table class="table striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Target</th>
      <th>Id</th>
      <th>Class</th>
      <th>Priority</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu.menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.title %></td>
        <td><%= menu_item.slug %></td>
        <td><%= menu_item.target %></td>
        <td><%= menu_item.item_id %></td>
        <td><%= menu_item.item_class %></td>
        <td><%= menu_item.priority %></td>
        <% if can? :update, menu_item %>
          <td><%= link_to 'Edit', edit_menu_item_path(@menu, menu_item) %></td>
        <% end %>
        <% if can? :destroy, menu_item %>
          <td><%= link_to 'Destroy', menu_item_path(@menu, menu_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>